@{
    ViewData["Title"] = "Home Page";
}

<div class="text text-sm-center">
    <h1 class="display-4">Bulky Book Store</h1>

</div>

<div class="text text-bg-primary text-sm-center">
    <img width="1117" height="450" src="~/js/Home.jpg" />

</div>


